@model IEnumerable<Out_of_Office.Application.Approval_Request.ApprovalRequestDto>

@{
    ViewData["Title"] = "Approval Requests";
    var currentSort = ViewBag.CurrentSort as string;
    var idSortParam = currentSort == "id_asc" ? "id_desc" : "id_asc";
    var approverSortParam = currentSort == "approver_asc" ? "approver_desc" : "approver_asc";
    var statusSortParam = currentSort == "status_asc" ? "status_desc" : "status_asc";
}

<h2>Approval Requests</h2>



    @using (Html.BeginForm("Index", "ApprovalRequest", FormMethod.Get))
{
    <p>
        <label for="searchRequestId">Search by Request Number:</label>
        <input type="number" id="searchRequestId" name="searchRequestId" value="@ViewData["SearchRequestId"]" />
    </p>
    <p>
        <label for="statusFilter">Filter by Status:</label>
        @Html.DropDownList("statusFilter", (SelectList)ViewBag.Statuses, "All Statuses", new { @id = "statusFilter" })

        <input type="submit" value="Filter" class="btn btn-primary ml-2" />
    </p>
    }


<table class="table">
    <thead>
        <tr>
            <th>
                <a href="?sortOrder=@idSortParam">ID</a>
            </th>
            <th>
                <a href="?sortOrder=@approverSortParam">Approver</a>
            </th>
            <th>
                Leave Request Number
            </th>
            <th>
                <a href="?sortOrder=@statusSortParam">Status</a>
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var approvalRequest in Model)
        {
            <tr>
                <td>@approvalRequest.ID</td>
                <td>@approvalRequest.ApproverFullName</td>
                <td>@approvalRequest.LeaveRequestID</td>
                <td>@approvalRequest.Status</td>
                <td>
                    <a asp-action="Details" asp-route-id="@approvalRequest.ID" class="btn btn-info">Details</a>
                   
                        <form asp-controller="ApprovalRequest" asp-action="Approve" method="post" class="d-inline">
                            <input type="hidden" name="id" value="@approvalRequest.ID" />
                            <input type="hidden" name="status" value="Approved" />
                            <button type="submit" class="btn btn-success">Approve</button>
                        </form>
                        <form asp-controller="ApprovalRequest" asp-action="Reject" method="post" class="d-inline">
                            <input type="hidden" name="id" value="@approvalRequest.ID" />
                            <input type="hidden" name="status" value="Rejected" />
                            <button type="submit" class="btn btn-danger">Reject</button>
                        </form>
                    
                </td>
            </tr>
        }
    </tbody>
</table>