@model Out_of_Office.Application.Project.ProjectDto

@{
    ViewData["Title"] = "Project Details";
}

<h2>Project Details</h2>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">ID</dt>
        <dd class="col-sm-10">@Model.ID</dd>

        <dt class="col-sm-2">Project Type</dt>
        <dd class="col-sm-10">@Model.ProjectType</dd>

        <dt class="col-sm-2">Start Date</dt>
        <dd class="col-sm-10">@Model.StartDate.ToString("yyyy-MM-dd")</dd>

        <dt class="col-sm-2">End Date</dt>
        <dd class="col-sm-10">@Model.EndDate?.ToString("yyyy-MM-dd")</dd>

        <dt class="col-sm-2">Project Manager</dt>
        <dd class="col-sm-10">@Model.ProjectManagerFullName</dd>

        <dt class="col-sm-2">Comment</dt>
        <dd class="col-sm-10">@Model.Comment</dd>

        <dt class="col-sm-2">Status</dt>
        <dd class="col-sm-10">@Model.Status</dd>
    </dl>
</div>
<h3>Employees in this Project</h3>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Full Name</th>
            @if (User.IsInRole("ProjectManager") || User.IsInRole("Administrator"))
    {
            <th>Actions</th>
    }
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model.Employees)
        {
            <tr>
                <td>@employee.Id</td>
                <td>@employee.FullName</td>
                <td>
                    <form asp-action="RemoveEmployee" method="post" class="d-inline">
                        <input type="hidden" name="EmployeeId" value="@employee.Id" />
                        <input type="hidden" name="ProjectId" value="@Model.ID" />
                         @if (User.IsInRole("ProjectManager"))
                        {
                            <button type="submit" class="btn btn-danger">Delete</button>
                        }
                       
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
    @if (User.IsInRole("ProjectManager") || User.IsInRole("Administrator")
    && Model.Status == Out_of_Office.Domain.Entities.ProjectStatus.Active)
    {
        <a asp-action="AssignEmployee" asp-route-id="@Model.ID" class="btn btn-secondary">Assign Employee</a>
    }
</div>

