@model IEnumerable<Out_of_Office.Application.Leave_Request.LeaveRequestDto>

@{
    ViewData["Title"] = "Leave Requests";
    var currentSort = ViewBag.CurrentSort as string;
    var idSortParam = currentSort == "id_asc" ? "id_desc" : "id_asc";
    var employeeSortParam = currentSort == "employee_asc" ? "employee_desc" : "employee_asc";
    var startDateSortParam = currentSort == "startdate_asc" ? "startdate_desc" : "startdate_asc";

}

<h2>Leave Requests</h2>


<p>
    @using (Html.BeginForm("Index", "LeaveRequest", FormMethod.Get))
    {
        <label for="SearchRequestId">Search by Request Number:</label>
        <input type="text" id="SearchRequestId" name="SearchRequestId" value="@ViewData["SearchRequestId"]" />
        <input type="submit" value="Search" />
    }
</p>

<p>
    @Html.ActionLink("Add New Leave Request", "Create", "LeaveRequest", null, new { @class = "btn btn-primary" })
</p>


<table class="table">
    <thead>
        <tr>
            <th>@Html.ActionLink("Request Number", "Index", new { sortOrder = idSortParam })</th>
            @if (!User.IsInRole("Employee"))
                {
            <th>@Html.ActionLink("Employee", "Index", new { sortOrder = employeeSortParam })</th>
                }
            <th>@Html.ActionLink("Start Date", "Index", new { sortOrder = startDateSortParam })</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var leaveRequest in Model)
        {
            <tr>
                <td>@leaveRequest.ID</td>
                @if (!User.IsInRole("Employee"))
                {
                    <td>@leaveRequest.EmployeeFullName</td>
                }
                  
                <td>@leaveRequest.StartDate.ToString("yyyy-MM-dd")</td>
                <td>
                    <a asp-action="Details" asp-route-id="@leaveRequest.ID" class="btn btn-info">Details</a>
                </td>
                <td>
                    <form asp-action="UpdateStatus" method="post" class="d-inline">
                        <input type="hidden" name="id" value="@leaveRequest.ID" />
                        <input type="hidden" name="status" value="Submitted" />
                        <button type="submit" class="btn btn-success">Submit</button>
                    </form>
                    <form asp-action="UpdateStatus" method="post" class="d-inline">
                        <input type="hidden" name="id" value="@leaveRequest.ID" />
                        <input type="hidden" name="status" value="Cancelled" />
                        <button type="submit" class="btn btn-danger">Cancel</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
